.navbar {
    width: 80%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo {
        svg {
            width: 150px;
        }
    }
    &__items {
        a {
            font-size: 20px;
            text-decoration: none;
            color: #000;
            padding: 4px 8px;
            border-radius: 10px;
            &:hover {
                background: lightgray;
            }
        }
    }
}